{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<br>
<br>
<form method="POST">
    <div class="container-xl">
        <h1>Account Löschen</h1>
        <br>
        <div class="mb-3">
            <label for="password" class="form-label">Passwort</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <h6><i class="bi bi-exclamation-circle"> Diese Aktion lässt sich nicht rückgängig machen und es können eventuell Daten verloren gehen.</i></h6>
        <br>
        <button type="submit" class="btn btn-danger">Bestätigen</button>
        <!--TODO cancel button-->
    </div>
</form>
{% endblock %}