{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<br>
<br>
<form method="POST">
    <div class="container-xl">
        <h1>Account Löschen</h1>
        <div class="mb-3">
            <label for="password" class="form-label">Passwort</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <i>hiermit bestätige ich dass ich den accoutn löschen will bli bla und dass damnit gegebenenfalls alle daten gelöscht werden bla blup fällt euch sonst noch was ein bli bla macht daraus btw so n info ding das sieht ganz nice aus bla blup alökjbljldwfjalsödjf afhdkljh </i>
        <br>
        <button type="submit" class="btn btn-primary">Bestätigen</button>
        <!--TODO cancel button-->
    </div>
</form>
{% endblock %}