{% extends "base.html" %}


{% block css %}
<!--<style>
    table, tr, td, th {
        border: 1px solid black; 
        border-collapse: collapse;
    }
</style>-->
<!--<style>
    body{
        color-scheme: dark;
        color: rgb(202, 202, 202);
        background-color: rgb(36, 36, 36);
    }
</style>
-->
<!--
DEV Panel in Dark-Mode? class="table table-dark"
-->
{% endblock %}
{% block title %}Developer Panel{% endblock %}

{% block content %}
<div style="margin-left: 5%; margin-right:5%">
    <br>
    <h1>DEV-Panel</h1>
    <br>
    <p>
        This is the Dev-Panel. Some might rather call it a scuffed version of PHPMyAdmin, but I prefer to ignore the fact that I was to lazy to run a MySQL
        database with this app and call this fancy. In here you have full power - From promoting users to admins and admins to developers all the way to
        making the entire database go bye-bye with just a couple clicks and entering your password. <i>(I'd highly advise against doing so tho, since that 
        might get you into trouble with the editorial team.)</i> I also admit that in the url routing for this I might have used the word "yeet" a little 
        often and probably not made the code as readable as it should be.
        <br>
        Things to be added: 
        <ul>
            <li>
                Edit (and implement) Admin password (basically a password a user can use to promote himself to admin)
            </li>
            <li>
                some more fancy stuff I currently can't think of
            </li>
        </ul>
    </p>

    <!---------------------------------------------------------------------------------------------------------------------->

    <br>
    <h2>Users</h2>
    <table class="table">
        <tr>
            <thead>
                <form method="POST">
                    <th scope="col" class="col-1">
                        ID
                        <input type="text" name="id" id="id" class="form-control" placeholder="search">
                    </th>
                    <th scope="col" class="col-3">
                        Name
                        <input type="text" name="name" id="name" class="form-control" placeholder="search">
                    </th>
                    <th scope="col" class="col-3">
                        Email
                        <input type="email" name="email" id="email" class="form-control" placeholder="search">
                    </th>
                    <th scope="col" class="col-2" style="vertical-align: top">Role</th>
                    <th scope="col" class="col-1" style="vertical-align: top">Email verified</th>
                    <th scope="col" style="text-align: right; vertical-align: top;">yeet</th>
                    <!--rendering the actual submit button first makes pressing enter execute with corresponding filtering-->
                    <!-- -> resetting form only when the button actually is pressed-->
                    <button type="submit" style="display: none;"></button>
                    {% if users_filtered %}
                        <input type="submit" name="reset_user" value="Reset Filters">
                    {% endif %}
                </form>
            </thead>
        </tr>
        {% for user in users %}
        <tr>
            <tbody>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="{{ url_for('dev.authorize_to_change_role', user=user.id) }}" method="POST">
                        <select name="role" id="role" onchange="this.form.submit()">
                            {% for role in roles %}
                            {% if role.name == user.role %}
                                <option value="{{ role.name }}" selected="selected">
                                        {{ role.name }}
                                </option>
                            {% else %}
                                <option value="{{ role.name }}">
                                        {{ role.name }}
                                </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </td>
                <td>{{ user.email_confirmed }}</td>
                <td style="text-align: right">
                    <form action="{{ url_for('dev.authorize_to_delete_user', id=user.id) }}">
                        <button class="btn btn-danger">&times;</button>
                    </form>
                </td>
            </tbody>
        </tr>
        {% endfor %}

    </table>

    <!---------------------------------------------------------------------------------------------------------------------->

    <hr>
    <br>
    <h2>Articles</h2>
    <table class="table">
        <tr>
            <thead>
                <th scope="col" class="col-1">ID</th>
                <th scope="col" class="col-3">Title</th>
                <th scope="col" class="col-3">author email</th>
                <th scope="col" class="col-1">validated</th>
                <th scope="col" class="col-1">date created</th>
                <th scope="col" class="col-1">upvotes</th>
                <th scope="col" style="text-align: right">yeet</th>
            <thead>
        </tr>
        {% for article in articles %}
        <tr>
            <tbody>
                <td>{{ article.id }}</td>
                <td>
                    <a href="{{ url_for('articles.find_article', path='{0}.html'.format(article.id)) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td>
                    <a href="mailto:{{ article.creator_email }}">{{ article.creator_email }}</a>
                </td>
                <td>{{ article.validated }}</td>
                <td>{{ article.date_created.date().strftime("%d.%m.%Y") }}</td>
                <td>{{ article.upvotes }}</td>
                <td style="text-align: right">
                    <form action="{{ url_for('dev.authorize_to_delete_article', id=article.id) }}">
                        <button class="btn btn-danger">&times;</button>
                    </form>
                </td>
            </tbody>
        </tr>
        {% endfor %}

    </table>

    <!---------------------------------------------------------------------------------------------------------------------->

    <hr>
    <br>
    <h2>Surveys</h2>
    <table class="table">
        <tr>
            <thead>
                <th scope="col" class="col-1">ID</th>
                <th scope="col" class="col-7">Title</th>
                <th scope="col" class="col-1">date created</th>
                <th scope="col">total votes</th>
                <th scope="col" style="text-align: right">yeet</th>
            </thead>
        </tr>
        {% for survey in surveys %}
        <tr>
            <tbody>
                <td>{{ survey.id }}</td>
                <td>
                    <a href="{{ url_for('surveys.survey', id=survey.id) }}">
                        {{ survey.title }}
                    </a>
                </td>
                <td>figure this out you lazy prick</td>
                <td>{{ survey.total_votes() }}</td>
                <td style="text-align: right">
                    <form action="{{ url_for('dev.authorize_to_delete_survey', id=survey.id) }}">
                        <button class="btn btn-danger">&times;</button>
                    </form>
                </td>
            </tbody>
        </tr>
        {% endfor %}

    </table>

    <!---------------------------------------------------------------------------------------------------------------------->

    <hr>
    <br>
    <h2>Tags</h2>
    <table class="table">
        <tr>
            <thead>
                <th scope="col">tag</th>
                <th scope="col" style="text-align: right">yeet</th>
            </thead>
        </tr>
        {% for tag in tags %}
        <tr>
            <tbody>
                <td>
                    <a href="{{ url_for('tag.articles_by_tag', tag=tag.tag.replace('#', '')) }}">
                        {{ tag.tag }}
                    </a>
                </td>
                <td style="text-align: right">
                    <form action="{{ url_for('dev.authorize_to_delete_tag', tag=tag.tag) }}">
                        <button class="btn btn-danger">&times;</button>
                    </form>
                </td>
            </tbody>
        </tr>
        {% endfor %}

    </table>


    <!---------------------------------------------------------------------------------------------------------------------->

    <hr>
        <form method="POST">
            <label for="backup"></label>
            <br>
            <input class="btn btn-danger" type="submit" name="backup" value="Backup Database">
        </form>
</div>

{% endblock %}

