{% extends "base.html" %}


{% block css %}
<style>
    table, tr, td, th {
        border: 1px solid #000; 
        border-collapse: collapse;
    }
</style>
{% endblock %}
{% block title %}Developer Panel{% endblock %}

{% block content %}
<!--p style="text-align: center; font-size: larger;">
    This is the Dev-Panel. Some might rather call it a scuffed version of PHPMyAdmin, but I prefer to ignore the fact that I was to lazy to run a MySQL
    database with this app and call this fancy. In here you have full power - From promoting users to admins and admins to developers all the way to
    making the entire database go bye-bye with just a couple clicks and entering your password. <i>(I'd highly advise against doing so tho, since that 
    might get you into trouble with the editorial team.)</i> I also admit that in the url-routing for this I might have used the word "yeet" a little 
    often and probably not made the code as readable as it should be.
    <br>
    Things to be added: 
    <ul>
        <li>
            Edit (and implement) Admin password (basically a password a user can use to promote himself to admin)
        </li>
        <li>
            View and delete Tags
        </li>
        <li>
            button to backup database
        </li>
        <li>
            some more fancy stuff I currently can't think of
        </li>
    </ul>
</p-->
<h1>Currently Existing Users</h1>
<table>
    <tr>
        <form method="POST">
            <th>
                id
                <input type="text" name="id" id="id" class="form-control" placeholder="find">
            </th>
            <th>
                Name
                <input type="text" name="name" id="name" class="form-control" placeholder="find">
            </th>
            <th>
                Email
                <input type="email" name="email" id="email" class="form-control" placeholder="find">
            </th>
            <th>Role</th>
            <th>Email verified</th>
            <th>yeet</th>
            <!--rendering the actual submit button first makes pressing enter execute with corresponding filtering-->
            <!-- -> resetting form only when the button actually is pressed-->
            <button type="submit" style="display: none;"></button>
            {% if users_filtered %}
                <input type="submit" name="reset_user" value="Reset Filters">
            {% endif %}
            
            
        </form>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
            <form action="{{ url_for('dev.authorize_to_change_role', user=user.id) }}" method="POST">
                <select name="role" id="role" onchange="this.form.submit()">
                    {% for role in roles %}
                    {% if role.name == user.role %}
                        <option value="{{ role.name }}" selected="selected">
                                {{ role.name }}
                        </option>
                    {% else %}
                        <option value="{{ role.name }}">
                                {{ role.name }}
                        </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </form>
        </td>
        <td>{{ user.email_confirmed }}</td>
        <td>
            <form action="{{ url_for('dev.authorize_to_delete_user', id=user.id) }}">
                <button>&times;</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

<h1>All Articles</h1>
<table>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>author email</th>
        <th>validated</th>
        <th>date created</th>
        <th>upvotes</th>
        <th>yeet</th>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{ article.id }}</td>
        <td>
            <a href="{{ url_for('articles.find_article', path='{0}.html'.format(article.id)) }}">
                {{ article.title }}
            </a>
        </td>
        <td>
            <a href="mailto:{{ article.creator_email }}">{{ article.creator_email }}</a>
        </td>
        <td>{{ article.validated }}</td>
        <td>{{ article.date_created.date().strftime("%d.%m.%Y") }}</td>
        <td>{{ article.upvotes }}</td>
        <td>
            <form action="{{ url_for('dev.authorize_to_delete_article', id=article.id) }}">
                <button>&times;</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}

