{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
    <div class="container-xl">
        <div class="mb-3">
            <label for="email" class="form-label">E-Mail</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Passwort</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="loggedin">
            <label class="form-check-label" for="loggedin">Angemeldet bleiben</label>
          </div>
          <button type="submit" class="btn btn-primary">Anmeden</button>
    </div>
</form>
{% endblock %}