{% extends "base.html" %}

{% block title %}{{ current_user.name }}{% endblock %}

{% block content %}
<div style="margin-left: 15%; margin-right: 15%">
    <br>
    <br>
    <h1>Profil</h1>
    <br>
    <table class="table">
        <tr>
            <th>Name:</th>
            <td>{{  current_user.name  }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{  current_user.email  }}</td>
        </tr>
        <tr>
            <th>Rollen:</th>
            <td>    <!-- TODO: Namen für die Rollen finden  -->
                {% if current_user.role == "user" %}
                    Benutzer
                {% elif current_user.role == "upload"%}
                    Hochladen
                {% elif current_user.role == "validate"%}
                    Überprüfen
                {% elif current_user.role == "developer"%}
                    Entwickler
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Email Benachrichtigungen:</th>
            <td>
                {% if current_user.notifications == true %}
                    Aktiviert
                {% else %}
                    Deaktiviert
                {% endif %}

            </td>
        </tr>
        {% if not current_user.email_confirmed %}
            <tr>
                <th>Verifizieren:</th>
                <td>
                    <b>Dir wurde eine Mail mit Link gesendet</b> <!--TODO option to resend mail-->
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Passwort:</th>
            <td>
                {% if reset %}
                    <b>Dir wurde eine Mail mit Link gesendet</b>
                {% else %}
                    <form action="{{ url_for('auth.send_reset_mail', user_id=current_user.id) }}">
                        <button class="btn btn-primary" type="submit">Neues Passwort anfragen</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Account löschen:</th>
            <td>
                {% if delete %}
                    <b>Dir wurde eine Mail mit Link gesendet</b>
                {% else %}
                    <form action="{{ url_for('auth.send_delete_mail', user_id=current_user.id) }}">
                        <button class="btn btn-danger" type="submit">Löschen anfragen</button>
                    </form>
                {% endif %}
            </td>
        </tr>
    </table>
    <!--
    {% if not current_user.email_confirmed %}
    <h6><i class="bi bi-info-circle"></i>  Verification link is designed to work with manually entering it into browser -> clicking on this will lead to 404 error, in url remove the first 
        127.0.0.1/
    </h6>
    <br>
    {% endif %}-->
    <br>

    <!--------------------------------------------------------------------------------------------------------------------------------->
    <h3>Statistiken</h3>
    <br>
    <table class="table">
        <tr>
            <th>Upvoted Artikel:</th>
            <td>{{ upvoted|length }}</td>
        </tr>
        <tr>
            
        </tr>
        <tr>
            <th>Hochgeladene Artikel:</th>
            <td>{{ uploaded|length }}</td>
        </tr>
    </table>


    <table>
        <tr>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Hochgeladene Artikel
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for article in uploaded %}
                            <li><a class="dropdown-item" href="{{ url_for('articles.find_article', path='{0}.html'.format(article.id)) }}">{{ article.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Upvoted Artikel
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for article in upvoted %}
                            <li>
                                <a class="dropdown-item" href="{{ url_for('articles.find_article', path='{0}.html'.format(article.id)) }}">
                                    {{ article.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Teilgenommene Umfragen
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          {% for participation in surveys %}
                              <li><a class="dropdown-item" href="{{ url_for('surveys.survey', id=participation[0].id) }}">{{ participation[0].title }} - Antwort: {{ participation[1].value }}</a></li>
                          {% endfor %}
                      </ul>
                </div>
            </td>
            
        </tr>
    </table>

    {% if current_user.role == "user" %}
        <hr>
        <form action="{{ url_for('auth.promote') }}" method="POST">
            <h1>Ich bin Redakteur der Schülerzeitung</h1>
            <input type="password" class="form-control" id="admin_password" name="admin_password" placeholder="Admin-Passwort">
            <button type="submit">Submit</button>
        </form>
    {% endif %}

</div>
{% endblock %}

{% block profil %}
    <li><a class="dropdown-item fw-bold" href="{{ url_for('views.profile') }}">Profil</a></li>
{% endblock %}
