{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST">
    <div class="container-xl">
        <div class="mb-3">
            <label for="password1" class="form-label">neues Passwort</label>
            <input type="password" name="password1" class="form-control" id="password1">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Passwort bestätigen</label>
            <input type="password" name="password2" class="form-control" id="password2">
        </div>
        <button type="submit" class="btn btn-primary">Bestätigen</button>
        <!--TODO cancel button-->
    </div>
</form>
{% endblock %}