{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<br>
<br>
<form method="POST">
    <div class="container-xl">
        <h1>Passwort zurücksetzen</h1>
        <div class="mb-3">
            <label for="password1" class="form-label">neues Passwort</label>
            <input type="password" name="password1" class="form-control" id="password1" maxlength="128">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Passwort bestätigen</label>
            <input type="password" name="password2" class="form-control" id="password2">
        </div>
        <button type="submit" class="btn btn-primary">Bestätigen</button>
        <button type="cancel" class="btn btn-danger" id="cancel" name="cancel">Abbrechen</button>
    </div>
</form>
{% endblock %}