{% extends "overview.html" %}

{% block title %}Tags{% endblock %}

{% block content %}
    {% for tag in tags %}
        {% if tag != '' %}
            <a href="{{ url_for('tag.articles_by_tag', tag=tag.tag.replace('#', '')) }}">
                {{ tag.tag }}
                <br>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block tags %}
    <li><a class="dropdown-item fw-bold" aria-current="page" href="{{ url_for('tag.all_tags') }}">View All Tags</a></li>
{% endblock %}