{% extends "overview.html" %}

<div class="container-xl">
{% block title %}Tags{% endblock %}

{% block content %}
<!--#TODO sort by "active" and "over"-->
    {% for survey in surveys %}
        <a href="{{ url_for('surveys.survey', id=survey.id) }}">
            {{ survey.title }}
            <br>
        </a>
    {% endfor %}
{% endblock %}
</div>

{% block umfragen %}
    <li class="nav-item">
        <a href="{{ url_for('surveys.all_surveys') }}" class="nav-link active" aria-current="page">Umfragen</a>
    </li>
{% endblock %}


{% block umfragen_mobile %}
    <li><a href="{{ url_for('surveys.all_surveys') }}" class="dropdown-item fw-bold">Umfragen</a></li>
{% endblock %}
