{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block title %}HEINEWS online{% endblock %}


{% block content %}
    {% if articles %}
        <div class="container-fluid p-0">
            <div class="container-xl">
            <br>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <!--<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>-->
                </div>
                <div class="carousel-inner">
                    {% if announcements|length > 0 %} <!--Announcement-->
                    <a href="{{ url_for('articles.announcement', id=announcements[0].id) }}">
                        <div class="carousel-item active">
                            <img style="height: 600px; object-fit: cover; opacity: 1  ;" src="../static/img/placeholder.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption ">
                            <h5>{{ announcements[0].title }}</h5>
                            <p>{{ announcements[0].content }}</p>
                        </div>
                        </div>
                    </a>
                    {% else %}<!--No announcements yet-->
                        <div class="carousel-item active">
                            <img style="height: 600px; object-fit: cover;" src="../static/img/placeholder.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption ">
                                <h5>Es gibt aktuell noch keine Ankündigungen</h5>
                                <p> Wenn du bei der Schülerzeitung mithelfen möchtest, dann wende dich gerne an jemanden von uns. <br>
                                    Die Kontaktdaten findest du unten im Impressum.
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <!--TODO: Add description of the article (most upvoted article etc. so the user knows what the fuck the article is doing there)-->
                    <!--Most upvoted article-->
                    <a href="{{ url_for('articles.find_article', path=most_upvoted_article.id + '.html') }}">
                        <div class="carousel-item">
                            <img style="height: 600px; object-fit: cover; opacity: 0.6;" src="{{ title_image_or_placeholder(most_upvoted_article) }}" class="d-block w-100" alt="...">
                            <div class="carousel-caption ">
                                <h5>{{ most_upvoted_article.title }}</h5>
                                <p>{{ most_upvoted_article.description }}</p>
                            </div>
                        </div>
                    </a>
                    <!--Most recent article-->
                    <a href="{{ url_for('articles.find_article', path=most_recent_article.id + '.html') }}">
                        <div class="carousel-item">
                            <img style="height: 600px; object-fit: cover; opacity: 0.6;" src="{{ title_image_or_placeholder(most_recent_article) }}" class="d-block w-100" alt="...">
                            <div class="carousel-caption ">
                                <h5>{{ most_recent_article.title }}</h5>
                                <p>{{ most_recent_article.description }}</p>
                            </div>
                        </div>
                    </a>
                    <!--@ErrorNameNotFound is something like a most viewed article possible?-->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>






<!------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------>
<!--------------------------------------------------------MOBILE VERSION-------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------>


<!--For some absolutely ridicoulusly stupid reason, bootstrap would not have its card sliders work if there's more than one version. Thus I sacrificed the desktop version for the mobile look - I hate it.-->


    <div class="container p-0">
        <!--Aktuelles-->
        {% if aktuelles|length > 0 %}
            <h2><a id="title-link" href="/article/category/aktuelles">Aktuelles</a></h2> <!--Alternative: 1. blue tone 4, 20, 43 2. triangle <h2>Aktuelles▼</h2>-->
            <br>
            <div id="carouselAktuelles" class="carousel carousel-dark slide" data-interval="false" style="border: 2px solid; border-color:rgb(12, 12, 90); display: block; overflow: auto; background-color: rgb(255, 255, 255); border-radius: 10px;">
                <div class="carousel-inner">
                    {% for i in range(0, aktuelles|length) %}
                        {% if i == 0 %}
                            <div class="carousel-item active" style="margin-top: 20px; margin-bottom: 20px;">
                        {% else %}
                            <div class="carousel-item" style="margin-top: 20px; margin-bottom: 20px;">
                        {% endif%}
                            <div class="card-container" style="display: flex; justify-content: center;">
                                <div class="card card-block border-1 border-secondary" style="width: calc(100%/1.5); max-width: 400px;">
                                    <a style="text-decoration: none;" href="{{ url_for('articles.find_article', path='{0}.html'.format(aktuelles[i].id)) }}">
                                        <img src="{{ title_image_or_placeholder(aktuelles[i]) }}" style="max-height: 300px; object-fit: cover;" class="card-img-top" alt="">
                                        <div class="card-body text-center py-4">
                                            <h4 class="card-title">{{ aktuelles[i].title }}</h4>
                                            <p id="card-subtitle" class="lead card-subtitle">
                                                {{ cap_text(aktuelles[i].description) }}
                                            </p>
                                            <br>
                                            <br>
                                            <p id="card-date">{{ aktuelles[i].date_created.date().strftime("%d.%m.%Y") }}</p>
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselAktuelles" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselAktuelles" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}
        


        <!--Wissen-->
        {% if wissen|length > 0 %}
            <h2><a id="title-link" href="/article/category/wissen">Wissen</a></h2>
            <br>
            <div id="carouselWissen" class="carousel carousel-dark slide" data-interval="false" style="border: 2px solid; border-color:rgb(12, 12, 90); display: block; overflow: auto; background-color: rgb(255, 255, 255); border-radius: 10px;">
                <div class="carousel-inner">
                    {% for i in range(0, wissen|length) %}
                        {% if i == 0 %}
                            <div class="carousel-item active" style="margin-top: 20px; margin-bottom: 20px">
                        {% else %}
                            <div class="carousel-item" style="margin-top: 20px; margin-bottom: 20px">
                        {% endif%}
                            <div class="card-container" style="display: flex; justify-content: center;">
                                <div class="card card-block border-1 border-secondary" style="width: calc(100%/1.5); max-width: 400px;">
                                    <a style="text-decoration: none;" href="{{ url_for('articles.find_article', path='{0}.html'.format(wissen[i].id)) }}">
                                        <img src="{{ title_image_or_placeholder(wissen[i]) }}" style="max-height: 300px ;  object-fit: cover;" class="card-img-top" alt="">
                                        <div class="card-body text-center py-4">
                                            <h4 class="card-title">{{ wissen[i].title }}</h4>
                                            <p class="lead card-subtitle">
                                                {{ cap_text(wissen[i].description) }}
                                            </p>
                                            <br>
                                            <br>
                                            <p id="card-date">{{ wissen[i].date_created.date().strftime("%d.%m.%Y") }}</p>
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselWissen" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselWissen" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}



        <!--Schulleben-->
        {% if schulleben|length > 0 %}
            <h2><a id="title-link" href="/article/category/schulleben">Schulleben</a></h2>
            <br>
            <div id="carouselSchulleben" class="carousel carousel-dark slide" data-interval="false" style="border: 2px solid; border-color:rgb(12, 12, 90); display: block; overflow: auto; background-color: rgb(255, 255, 255); border-radius: 10px;">
                <div class="carousel-inner">
                    {% for i in range(0, schulleben|length) %}
                        {% if i == 0 %}
                            <div class="carousel-item active" style="margin-top: 20px; margin-bottom: 20px">
                        {% else %}
                            <div class="carousel-item" style="margin-top: 20px; margin-bottom: 20px">
                        {% endif%}
                            <div class="card-container" style="display: flex; justify-content: center;">
                                <div class="card card-block border-1 border-secondary" style="width: calc(100%/1.5); max-width: 400px;">
                                    <a style="text-decoration: none;" href="{{ url_for('articles.find_article', path='{0}.html'.format(schulleben[i].id)) }}">
                                        <img src="{{ title_image_or_placeholder(schulleben[i]) }}" style="max-height: 300px; object-fit: cover;" class="card-img-top" alt="">
                                        <div class="card-body text-center py-4">
                                            <h4 class="card-title">{{ schulleben[i].title }}</h4>
                                            <p class="lead card-subtitle">
                                                {{ cap_text(schulleben[i].description) }}
                                            </p>
                                            <br>
                                            <br>
                                            <p id="card-date">{{ schulleben[i].date_created.date().strftime("%d.%m.%Y") }}</p>
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselSchulleben" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselSchulleben" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}
        

        
        <!--Lifestyle-->
        {% if lifestyle|length > 0 %}
            <h2><a id="title-link" href="/article/category/lifestyle">Lifestyle</a></h2>
            <br>
            <div id="carouselLifestyle" class="carousel carousel-dark slide" data-interval="false" style="border: 2px solid; border-color:rgb(12, 12, 90); display: block; overflow: auto; background-color: rgb(255, 255, 255); border-radius: 10px;">
                <div class="carousel-inner">
                    {% for i in range(0, lifestyle|length) %}
                        {% if i == 0 %}
                            <div class="carousel-item active" style="margin-top: 20px; margin-bottom: 20px">
                        {% else %}
                            <div class="carousel-item" style="margin-top: 20px; margin-bottom: 20px">
                        {% endif%}
                            <div class="card-container" style="display: flex; justify-content: center;">
                                <div class="card card-block border-1 border-secondary" style="width: calc(100%/1.5); max-width: 400px;">
                                    <a style="text-decoration: none;" href="{{ url_for('articles.find_article', path='{0}.html'.format(lifestyle[i].id)) }}">
                                        <img src="{{ title_image_or_placeholder(lifestyle[i]) }}" style="max-height: 300px; object-fit: cover;" class="card-img-top" alt="">
                                        <div class="card-body text-center py-4">
                                            <h4 class="card-title">{{ lifestyle[i].title }}</h4>
                                            <p class="lead card-subtitle">
                                                {{ cap_text(lifestyle[i].description) }}
                                            </p>
                                            <br>
                                            <br>
                                            <p id="card-date">{{ lifestyle[i].date_created.date().strftime("%d.%m.%Y") }}</p>
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselLifestyle" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselLifestyle" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}



        <!--Unterhaltung-->
        {% if unterhaltung|length > 0 %}
            <h2><a id="title-link" href="/article/category/unterhaltung">Unterhaltung</a></h2>
            <br>
            <div id="carouselUnterhaltung" class="carousel carousel-dark slide" data-interval="false" style="border: 2px solid; border-color:rgb(12, 12, 90); display: block; overflow: auto; background-color: rgb(255, 255, 255); border-radius: 10px;">
                <div class="carousel-inner">
                    {% for i in range(0, unterhaltung|length) %} 
                        {% if i == 0 %}
                            <div class="carousel-item active" style="margin-top: 20px; margin-bottom: 20px">
                        {% else %}
                            <div class="carousel-item" style="margin-top: 20px; margin-bottom: 20px">
                        {% endif%}
                            <div class="card-container" style="display: flex; justify-content: center;">
                                <div class="card card-block border-1 border-secondary" style="width: calc(100%/1.5); max-width: 400px;">
                                    <a style="text-decoration: none;" href="{{ url_for('articles.find_article', path='{0}.html'.format(unterhaltung[i].id)) }}">
                                        <img src="{{ title_image_or_placeholder(unterhaltung[i]) }}" style="max-height: 300px; object-fit: cover;" class="card-img-top" alt="">
                                        <div class="card-body text-center py-4">
                                            <h4 class="card-title">{{ unterhaltung[i].title }}</h4>
                                            <p class="lead card-subtitle">
                                                {{ cap_text(unterhaltung[i].description) }}
                                            </p>
                                            <br>
                                            <br>
                                            <p id="card-date">{{ unterhaltung[i].date_created.date().strftime("%d.%m.%Y") }}</p>
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselUnterhaltung" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselUnterhaltung" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}


        
        <!--Kreatives-->
        {% if kreatives|length > 0 %}
            <h2><a id="title-link" href="/article/category/kreatives">Kreatives</a></h2>
            <br>
            <div id="carouselKreatives" class="carousel carousel-dark slide" data-interval="false" style="border: 2px solid; border-color:rgb(12, 12, 90); display: block; overflow: auto; background-color: rgb(255, 255, 255); border-radius: 10px;">
                <div class="carousel-inner">
                    {% for i in range(0, kreatives|length) %}
                        {% if i == 0 %}
                            <div class="carousel-item active" style="margin-top: 20px; margin-bottom: 20px">
                        {% else %}
                            <div class="carousel-item" style="margin-top: 20px; margin-bottom: 20px">
                        {% endif%}
                            <div class="card-container" style="display: flex; justify-content: center;">
                                <div class="card card-block border-1 border-secondary" style="width: calc(100%/1.5); max-width: 400px;">
                                    <a style="text-decoration: none;" href="{{ url_for('articles.find_article', path='{0}.html'.format(kreatives[i].id)) }}">
                                        <img src="{{ title_image_or_placeholder(kreatives[i]) }}" style="max-height: 300px; object-fit: cover;" class="card-img-top" alt="">
                                        <div class="card-body text-center py-4">
                                            <h4 class="card-title">{{ kreatives[i].title }}</h4>
                                            <p class="lead card-subtitle">
                                                {{ cap_text(kreatives[i].description) }}
                                            </p>
                                            <br>
                                            <br>
                                            <p id="card-date">{{ kreatives[i].date_created.date().strftime("%d.%m.%Y") }}</p>
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselKreatives" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselKreatives" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}


        
        <!--Umfragen-->
        {% if surveys|length > 0 %}
            <h2><a id="title-link" href="{{ url_for('surveys.all_surveys') }}">Umfragen</a></h2>
            <br>
            <div id="carouselSurveys" class="carousel carousel-dark slide" data-interval="false" style="border: 2px solid; border-color:rgb(12, 12, 90); display: block; overflow: auto; background-color: rgb(255, 255, 255); border-radius: 10px;">
                <div class="carousel-inner">
                    {% for i in range(0, surveys|length) %}
                        {% if i == 0 %}
                            <div class="carousel-item active" style="margin-top: 20px; margin-bottom: 20px">
                        {% else %}
                            <div class="carousel-item" style="margin-top: 20px; margin-bottom: 20px">
                        {% endif%}
                            <div class="card-container" style="display: flex; justify-content: center;">
                                <div class="card card-block border-1 border-secondary" style="width: calc(100%/1.5); max-width: 400px;">
                                    <a style="text-decoration: none;" href="{{ url_for('surveys.survey', id=surveys[i].id) }}">
                                        <img src="/static/img/placeholder.png" style="max-height: 300px; object-fit: cover;" class="card-img-top" alt="">
                                        <div class="card-body text-center py-4">
                                            <h4 class="card-title">{{ surveys[i].title }}</h4>
                                            <p class="lead card-subtitle">
                                                {{ cap_text(surveys[i].description) }}
                                            </p>
                                            <br>
                                            <br>
                                            <p id="card-date">{{ surveys[i].expiry_date.date().strftime("Umfrageschluss: %d.%m.%Y") }}</p>
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselSurveys" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselSurveys" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}

    </div>

    {% else %}
        <h5>Aktuell gibt es noch keine Artikel auf dieser Website</h5>
        <br>
        <h4> Wenn du das ändern willst dann werde Teil der Schülerzeitung. Wir freuen uns auf dich! <br>
            Unsere Kontaktdaten findest du unten im Impressum.
        </h4>
    
    </div>
    {% endif %}
{% endblock %}

{% block footer %}
<!--FUCK YOU BOOTSTRAP WHY IN THE FUCKING WORLD DO YOU JUST NOT WORK ON THIS STUPID ASS PAGE-->
<div class="position-absolute start-0 end-0">
<footer class="text-center text-lg-start bg-light text-muted" style="display: block; min-width: 100%;">

    <!-- Instagram + GitHub -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block"></div>

        <!-- Right -->
        <div>
            <a href="https://www.instagram.com/heinews_sz/" class="me-4 text-reset text-decoration-none">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://github.com/Gruppe-Ausschussexterner-Programmierer"
                class="me-4 text-reset text-decoration-none">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </section>
    <!-- Impressum  -->
    <section>
        <div class="container text-md-start mt-4 mb-4">
            <div class="row mt-3">

                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                    <h6 class="text-uppercase fw-bold mb-2">
                        <i class="bi bi-newspaper me-1"></i>HEINEWS
                    </h6>
                    <p>
                        Diese Website wurde von drei Schülern aus der K2 des HHG Ostfildern entwickelt und designed:
                        <br>
                        Emil Schläger (Backend, Frontend <br>
                        Emil Grümer (Frontend) <br>
                        Finn Österreicher (Frontend)
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-2">
                        Links
                    </h6>
                    <p>
                        <a href="imprint" class="text-reset btn-link disabled">Impressum</a>
                    </p>
                    <p>
                        <a href="mailto:zeitung@hhg-ostfildern.de" class="text-reset btn-link disabled">Kontaktiere uns per Email</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <!-- Externe Links -->
                    <h6 class="text-uppercase fw-bold mb-2">
                        Externe Links
                    </h6>
                    <p>
                        <a href="https://hhg-ostfildern.de" class="text-reset">HHG Ostfildern</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-0 md-0">
                    <!-- Kontakt -->
                    <h6 class="text-uppercase fw-bold mb-2">
                        Kontakt
                    </h6>
                    <p><i class="bi bi-person-fill me-3"></i>Natalie Bachayan</p>
                    <p><i
                            class="bi bi-house-fill me-3"></i>Heinrich-Heine-Gymnasium<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In
                        den Anlagen 11<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;73760 Ostfildern</p>
                    <p><i class="bi bi-envelope-fill me-3"></i>zeitung@hhg-ostfildern.de</p>
                    <p><i class="bi bi-telephone-fill me-3"></i>0711 220707-0</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 HEINEWS
    </div>
</footer>
</div>
{% endblock %}