{% extends "base.html" %}

{% block title %}article overview{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-8">
                <div class="container">
                    {% for i in range(0, articles|length, 3) %}
                    <div class="row">
                        {% if articles[i] %}
                            <div class="col p-1">
                                <div class="card" style="width: 15rem;">
                                    <img src="{{ title_image_or_placeholder(articles[i]).replace('..', '') }}" class="card-img-top" alt="Img" width="320"
                                        height="180">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ articles[i].title }}</h5>
                                        <a href="{{ url_for('articles.find_article', path=articles[i].id + '.html') }}"
                                            class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if articles[i + 1] %}
                            <div class="col p-1">
                                <div class="card" style="width: 15rem;">
                                    <img src="{{ title_image_or_placeholder(articles[i]).replace('..', '') }}" class="card-img-top" alt="Img" width="320"
                                        height="180">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ articles[i + 1].title }}</h5>
                                        <a href="{{ url_for('articles.find_article', path=articles[i + 1].id + '.html') }}"
                                            class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if articles[i + 2] %}
                            <div class="col p-1">
                                <div class="card" style="width: 15rem;">
                                    <img src="{{ title_image_or_placeholder(articles[i]).replace('..', '') }}" class="card-img-top" alt="Img" width="320"
                                        height="180">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ articles[i + 2].title }}</h5>
                                        <a href="{{ url_for('articles.find_article', path=articles[i + 2].id + '.html') }}"
                                            class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}