{% extends "base.html" %}

{% block title %}Upload Article{% endblock %}

{% block content %}
{% if get_user_role(current_user).can_upload %}
<div class="container-xl">
    <br>
    <h1>Gib Deinem Artikel Bilder</h1>
    <br>
    <i>In der Reihenfolge, in der Du sie hochlädst, sind sie dann übrigens auch im Text zu finden. Also das erste Bild am obersten usw.</i>
    <form method="POST" enctype="multipart/form-data">
        {% for i in range(num_images) %}
            <label for="image-{{ i }}">{{ i + 1 }}. Bild:</label>
            <input type="file" name="image-{{ i }}" required>
            <br>
        {% endfor %}
        <br>
        <button name="upload" class="btn btn-primary">Hochladen</button>
    </form>
{% else %}
    <h2 style="text-align: center">Du darfst keine Artikel hochladen - Komme in die Schülerzeitung oder warte, bis das feature auch für 
        Nicht-Mitglieder eingebaut wird :)
    </h2>
    <a href="/">Homepage</a>

</div>

{% endif %}
{% endblock %}