{% extends "base.html" %}
<!-- 
    - individual articles are stored in subfolder `articles`
    - yes, this is not the aesthetically most beautiful way to handle these, but it works and that's what matters
-->

{% block css %}
<link rel="stylesheet" href="/static/css/article.css">
{% endblock %}
{% block title %}{{ db_entry.title }}{% endblock %}

{% block content%}
<div class="container-xl">
    <br>
    <h1 style="text-align: center">
        {{ db_entry.title }}
    </h1>
    <br>
    <table class="table">
        <tr>
            <td>
                <i>Kategorie: 
                    <a style="text-decoration: none" href="{{ url_for('articles.by_category', category=db_entry.category) }}"><b>{{ db_entry.category }}</b></a>
                </i>
            </td>
            <!--
                That date_created query might be a little confusing, so to divide it up here:
                1. db_entry.date_created.date() gets ONLY the date of when the article was created
                2. strftime("%d.%m.%Y") formats it from yyyy-mm-dd to dd-mm-yyyy
            -->
            <td>
                <i style="margin-left: 50px">Hochgeladen am {{ db_entry.date_created.date().strftime("%d.%m.%Y") }} von {{ created_by }}</i>
            </td>
            <td>
                <i style="margin-left: 50px">tags: 
                    {% for tag in tags %}
                        <a style="text-decoration: none;" href="{{ url_for('tag.articles_by_tag', tag=tag.tag.replace('#', '')) }}"><b>{{ tag.tag }}</b></a>
                    {% endfor %}
                </i>
            </td>
            <td>
                <!--TODO: remove once tested-->
                <i style="margin-left: 50px">validated:
                    {{ db_entry.validated }}
                </i>
            </td>
        </tr>
    </table>
    <br>
    
    {% if db_entry.description != none %}
        <h4>{{ db_entry.description }}</h4>
    {% endif %}

    {% block article %}
    <!-- override this with child file -->
    {% endblock %}
    {% if upvoted %}
        <form action="{{ url_for('articles.remove_upvote', id=db_entry.id) }}">
            <button class="btn btn-success">Upvoted!</button>
        </form>
    {% else%}
        <form action="{{ url_for('articles.upvote', id=db_entry.id) }}", method="POST">
            <button class="btn btn-secondary">Upvote</button>
        </form>
    {% endif %}

    -Upvotes: <b>{{db_entry.upvotes}}</b>-
    
    {% if get_user_role(current_user).can_validate and not db_entry.validated %}
    <br>
    <br>
    <table class="table">
        <tr>
            <td scope="col-6">
                <form action="{{ url_for('articles.feedback', id=db_entry.id) }}">
                    <div class="form-group">
                        <label for="cancel"></label>
                            <button class="btn btn-danger" style="float: left;">Feedback geben</button>
                    </div>
                </form>
            </td>
            <td scope="col-6">
                <form action="{{ url_for('articles.approve', id=db_entry.id) }}">
                    <div class="form-group">
                        <label for="approve"></label>
                        <button class="btn btn-success" style="float: right;">Bestätigen</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    {% endif %}
</div>
{% endblock %}
