{% extends "base.html" %}
<!-- 
    - individual articles are stored in subfolder `articles`
    - yes, this is not the aesthetically most beautiful way to handle these, but it works and that's what matters
-->

{% block title %}{{ db_entry.title }}{% endblock %}

{% block content%}
    <h1 style="text-align: center">
        <u>{{ db_entry.title }}</u>
    </h1>
    <div>
        <i>Kategorie: 
            <a href="{{ url_for('articles.by_category', category=db_entry.category) }}">{{ db_entry.category }}</a>
        </i>
        <i style="margin-left: 50px">Hochgeladen am {{ db_entry.date_created.date().strftime("%d.%m.%Y") }} von {{ created_by }}</i>
        <i style="margin-left: 50px">tags: 
            {% for tag in tags %}
                <a href="{{ url_for('tag.articles_by_tag', tag=tag.tag.replace('#', '')) }}">{{ tag.tag }}</a>
            {% endfor %}
        </i>
        <!--TODO: remove once tested-->
        <i style="margin-left: 50px">validated:
            {{ db_entry.validated }}
        </i>
    </div>


    {% block article %}
    <!-- override this with child file -->
    {% endblock %}

    {% if current_user.role == "developer" %}
    <!--TODO make those buttons do stuff-->
    <div>
        <!--action="{{ url_for('admin.validate_article') }}"-->
        <form method="POST">
            <div class="form-group">
                <label for="cancel"></label>
                <button style="background-color: #f00; float: left; margin-left: 50px;">Give Feedback</button>
            </div>
            
            <div class="form-group">
                <label for="approve"></label>
                <button style="background-color: #0f0; float: right; margin-right: 50px;">Approve</button>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}