{% extends "base.html" %}
<!-- 
    - individual articles are stored in subfolder `articles`
    - yes, this is not the aesthetically most beautiful way to handle these, but it works and that's what matters
-->

{% block title %}{{ db_entry.title }}{% endblock %}

{% block content%}
    <h1 style="text-align: center">
        <u>{{ db_entry.title }}</u>
    </h1>
    <div>
        <i>Kategorie: {{ db_entry.category }}</i>
        <i style="margin-left: 50px">Hochgeladen am {{ date_created }} von {{ created_by }}</i>
        <i style="margin-left: 50px">tags: 
            {% for tag in tags %}
                <a href="{{ url_for('tag.articles_by_tag', tag=tag.tag.replace('#', '')) }}">{{ tag.tag }}</a>
            {% endfor %}
        </i>
        <!--TODO: make a link out of every tag to get to tag overview (see all articles with this tag)-->
    </div>


    {% block article %}
    <!-- override this with child file -->
    {% endblock %}
{% endblock %}