<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    {% block homepage %}
    <a href="/">Homepage</a>
    {% endblock %}
    <!--yeah this does not lead anywhere 
            @Grümer fix it in an intelligent way:
    On page x, there should not be a link to page x (or if there is, make it look good, through showing that this is the page one is currently on)-->
    <a href="{{ url_for('articles.all')}}">all articles</a>
    <hr>

    {% block content%}

    {% endblock %}
</body>
</html>