{% extends "base.html" %}

{% block title %}heiNEws{% endblock %}

{% block content %}
    <!--a href="{{ url_for('articles.find_article', path='test.html') }}">
        test.html
    </a>
    <a href="{{ url_for('admin.upload', phase='new') }}">upload</a>
    <br>
    <a href="{{ url_for('tag.all_tags') }}">view all tags</a>

    <div style="display: block; float: right; margin-right: 20px">
        <a href="{{ url_for('auth.login') }}">login</a>
        <br>
        <a href="{{ url_for('auth.signup') }}">sign up</a>
    </div-->



{% endblock %}