{% extends "base.html" %}

{% block title %}heiNEws online{% endblock %}

{% block content %}
<div class="container" style="margin-left: 5%; margin-right: 5%;">
{% if articles %}
    <!--Grid-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <!--@KRÜMLER get path to title image using this little function I wrote you-->
                                <img src="{{ title_image_or_placeholder(most_upvoted_article) }}" class="card-img-top" alt="Img" width="320" height="180">
                                <div class="card-body">
                                  <h5 class="card-title">{{ most_upvoted_article.title }}</h5>
                                  <!--p class="card-text">{{ most_upvoted_article.description }}</p-->
                                  <a href="{{ url_for('articles.find_article', path=most_upvoted_article.id + '.html') }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img src="../static/img/placeholder.png" class="card-img-top" alt="Img" width="320" height="180">
                                <div class="card-body">
                                  <h5 class="card-title">{{ most_recent_article.title }}</h5>
                                  <!--p class="card-text">{{ most_recent_article.description }}</p-->
                                  <a href="{{ url_for('articles.find_article', path=most_recent_article.id + '.html') }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img src="../static/img/placeholder.png" class="card-img-top" alt="Img" width="320" height="180">
                                <div class="card-body">
                                  <h5 class="card-title">{{ most_upvoted_article.title }}</h5>
                                  <!--p class="card-text">{{ most_upvoted_article.description }}</p-->
                                  <a href="{{ url_for('articles.find_article', path=most_upvoted_article.id + '.html') }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img src="../static/img/placeholder.png" class="card-img-top" alt="Img" width="320" height="180">
                                <div class="card-body">
                                  <h5 class="card-title">{{ most_upvoted_article.title }}</h5>
                                  <!--p class="card-text">{{ most_upvoted_article.description }}</p-->
                                  <a href="{{ url_for('articles.find_article', path=most_upvoted_article.id + '.html') }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img src="../static/img/placeholder.png" class="card-img-top" alt="Img" width="320" height="180">
                                <div class="card-body">
                                  <h5 class="card-title">{{ most_upvoted_article.title }}</h5>
                                  <!--p class="card-text">{{ most_upvoted_article.description }}</p-->
                                  <a href="{{ url_for('articles.find_article', path=most_upvoted_article.id + '.html') }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img src="../static/img/placeholder.png" class="card-img-top" alt="Img" width="320" height="180">
                                <div class="card-body">
                                  <h5 class="card-title">{{ most_upvoted_article.title }}</h5>
                                  <!--p class="card-text">{{ most_upvoted_article.description }}</p-->
                                  <a href="{{ url_for('articles.find_article', path=most_upvoted_article.id + '.html') }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img src="../static/img/placeholder.png" class="card-img-top" alt="Img" width="320" height="180">
                                <div class="card-body">
                                  <h5 class="card-title">{{ most_upvoted_article.title }}</h5>
                                  <!--p class="card-text">{{ most_upvoted_article.description }}</p-->
                                  <a href="{{ url_for('articles.find_article', path=most_upvoted_article.id + '.html') }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img src="../static/img/placeholder.png" class="card-img-top" alt="Img" width="320" height="180">
                                <div class="card-body">
                                  <h5 class="card-title">{{ most_upvoted_article.title }}</h5>
                                  <!--p class="card-text">{{ most_upvoted_article.description }}</p-->
                                  <a href="{{ url_for('articles.find_article', path=most_upvoted_article.id + '.html') }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img src="../static/img/placeholder.png" class="card-img-top" alt="Img" width="320" height="180">
                                <div class="card-body">
                                  <h5 class="card-title">{{ most_upvoted_article.title }}</h5>
                                  <!--p class="card-text">{{ most_upvoted_article.description }}</p-->
                                  <a href="{{ url_for('articles.find_article', path=most_upvoted_article.id + '.html') }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col border">
              der rest
            </div>
      </div>
    </div>

{% else %}
<h1>there's no articles... yet</h1>
{% endif %}

{% endblock %}