{% extends "base.html" %}

{% block title %}article overview{% endblock %}

{% block content %}
{% if type == "article" %}
    {% for article in articles %}
        <a href="{{ url_for('articles.find_article', path='{0}.html'.format(article.id)) }}">
            {{ article.title }}
            <br>
        </a>
    {% endfor %}

{% elif type == "tag" %}
    {% for tag in tags %}
    <!--TODO rework to not use this if statement-->
        {% if tag != '' %}
            <a href="{{ url_for('tag.articles_by_tag', tag=tag.tag.replace('#', '')) }}">
                {{ tag.tag }}
                <br>
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}