{% extends "overview.html" %}

{% block title %}Suche{% endblock %}

{% block content %}
    <h1>Suchergebnisse für "{{ search }}"</h1>

    {% if tags|length > 0 %}
    <h4>Passende Tags:</h4>
    {% for tag in tags %}
    <a href="{{ url_for('tag.articles_by_tag', tag=tag.remove('#')) }}">tag</a>
    <br>
    {% endfor %}
    {% endif %}

    <!--@Finn: Rework?: Einfach nur "Artikel", und in ner extra spalte schreiben, ob Titel oder Beschreibung gematcht haben?-->
    {% if titles|length > 0 %}
    <hr>
    <h4>Artikel mit ähnlichem Titel:</h4>
    {% for article in titles %}
    <a href="{{ url_for('articles.find_article', path=article[0] + '.html') }}">{{ article[1] }}</a>
    <br>
    {% endfor %}
    {% endif %}

    {% if descriptions|length > 0 %}
    <hr>
    <h4>Artikel mit ähnlicher Beschreibung:</h4>
    {% for article in descriptions %}
    <a href="{{ url_for('articles.find_article', path=article[0] + '.html') }}">{{ article[1] }}</a> / {{ article[2] }}
    <br>
    {% endfor %}
    {% endif %}

    {% if surveys|length > 0 %}
    <hr>
    <h4>Passende Umfragen:</h4>
    {% for survey in surveys %}
    <a href="{{ url_for('surveys.survey', id=survey) }}">{{ survey }}</a>
    <br>
    {% endfor %}
    {% endif %}

    {% if pages is not none %}
    <hr>
    Pages: {{ pages }}
    {% endif %}
{% endblock %}
