{% extends "base.html" %}

{% block title %}Upload Article{% endblock %}

{% block content %}
    <form method="POST">
    <h3>Edit Article</h3>
    <div class="form-group">
        <label for="title">Title</label>
        <input
            type="title" 
            class="form-control" 
            id="title" 
            name="title" 
            placeholder="Gib dem Artikel einen Titel"
        />
    </div>

    <div class="form-group">
        <label for="category">Kategorie</label>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="tags">Tags (getrennt durch Leerzeichen)</label>
        <input
            type="tags" 
            class="form-control" 
            id="tags" 
            name="tags" 
            placeholder="z.B. #superInteressant"
        />    
    </div>

    <br>
    <button>Submit</button>
</form>

{% endblock %}